{% extends 'course/base.html' %}

{% block content %}
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="dropdown">
				<a class="dropdown-toggle"
				data-toggle="dropdown"
				href="#">
					Выберите котировку
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					{% for gr in course_l %}
						{% for el in gr %}
							{% if el in groups %}
								<li class="divider"></li>
								{{ el }}							
							{% else %}
								{% for c in el %}
									<li><a href="/course/{{ c.name_without_spaces }}">{{ c.name }}</a></li>
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endfor %}
				</ul>
			</li>
		</ul>
	</div>
	<div class="well chart"> 
		Выберте курс
	</div>
{% endblock %}