{% extends 'course/base.html' %}

{% block content %}
	<script>
		var course_name = '{{ name }}';
	</script>
	<div class="row">
		<p>
			Текущая котировка: <strong>{{ name }}</strong>
		</p>
		<ul class="nav nav-tabs">
			<li class="dropdown">
				<a class="dropdown-toggle"
				data-toggle="dropdown"
				href="#">
					Выберите котировку
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					{% for gr in course_l %}
						{% for el in gr %}
							{% if el in groups %}
								<li class="divider"></li>
								{{ el }}							
							{% else %}
								{% for c in el %}
									<li><a href="/course/{{ c.name_without_spaces }}/{{ time }}/{{ update }}">{{ c.name }}</a></li>
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endfor %}
				</ul>
			</li>
		</ul>
	</div>
	<div class="well chart"> 
		<div id="chart_div" style="width: 100%; height: 500px;"></div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<ul class="nav nav-tabs">
				<li class="dropdown">
					<span>Выберите интервал: </span>
					<a class="dropdown-toggle"
					data-toggle="dropdown"
					href="#">
						{{ time_s }}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						{% for el in time_d %}
							{% for x in el %}
								{% if x in time_keys %}
									<li><a href="/course/{{ name2 }}/{{ x }}/{{ update }}">
								{% else %}
									{{ x }}</a></li>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6">
			<ul class="nav nav-tabs">
				<li class="dropdown">
					<span>Частота обновления: </span>
					<a class="dropdown-toggle"
					data-toggle="dropdown"
					href="#">
						{{ update_s }}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						{% for el in update_d %}
							{% for x in el %}
								{% if x in update_keys %}
									<li><a href="/course/{{ name2 }}/{{ time }}/{{ x }}">
								{% else %}
									{{ x }}</a></li>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}